* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.form-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 20px;
  background: #928787;
}

.form-box {
  background-color: white;
  width: 100%;
  max-width: 750px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.form-box h1 {
  text-align: center;
  color: #333;
  background-color: #1294d1;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
}

.from-data h2 {
  color: #333;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  margin-bottom: 25px;
  margin-top: 10px;
}

.from-field {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: flex;
  gap: 20px;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 4px;
}

label {
  font-weight: 500;
  color: #040404;
  font-size: 18px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="date"],
.form-group select {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid black;

  font-size: 15px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  background-color: #fff;
}

.form-group input:focus,
.form-group select:focus {
  outline: 3px solid #42c02c;
  border-color: #050605;
}

.gender-options {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 47px;
  padding-left: 5px;
}

.gender-options input[type="radio"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
  accent-color: #1294d1;
  outline: none;

  margin-right: 5px;
}

.react-tel-input .form-control {
  width: 100% !important;
  height: 45px !important;

  font-size: 15px !important;
  border-radius: 6px !important;
  border: 1px solid #ddd !important;
}

.react-tel-input .form-control:focus {
  border-color: #764ba2 !important;
  box-shadow: 0 0 0 3px rgba(118, 75, 162, 0.1) !important;
}

.submit-btn {
  width: 100%;
  margin-top: 10px;
  padding: 15px;
  background: #1294d1;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.submit-btn:hover {
  background: #2fa80a;
  transform: translateY(-2px);
}

.submit-btn:active {
  transform: translateY(0);
}

.error {
  color: #e74c3c;
  font-size: 12px;
  margin-top: 5px;
}




.form-row-phone {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  gap: 0px;
  align-items: flex-end;
}

.form-group-phone {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 20%;
  min-width: 90px;
}

.form-group-phone label {
  font-weight: 500;
  color: #040404;
  font-size: 18px;
  white-space: nowrap;
}

.form-group-phone select {
  width: 100%;
  padding: 12px 5px;
  border: 1px solid black;

  font-size: 14px;
  background-color: #fff;
  cursor: pointer;
  height: 45px;
}

.form-group-phone select:focus {
  outline: none;
  border: 1px solid #42c02c;
  border-right: 1px solid #42c02c;
  z-index: 10;
}

.form-input-number {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.form-input-number input {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid black;
  border-left: none;

  font-size: 15px;
  background-color: #fff;
  height: 45px;
  margin-top: 0;
}

.form-input-number input:focus {
  outline: none;
  border: 1px solid #42c02c;
  border-left: 1px solid #42c02c;
}
